{
  "bindings": [
    {
      "role": "roles/cloudkms.admin",
      "members": [
        "group:${ADMIN_GROUP}"
      ]
    },
    {
      "role": "roles/cloudkms.publicKeyViewer",
      "members": [
        "serviceAccount:${KEEPER_SA}"
      ]
    },
    {
      "role": "roles/cloudkms.signer",
      "members": [
        "serviceAccount:${KEEPER_SA}"
      ]
    }
  ]
}
